<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Cyber/Risk Blog</title>
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li listing nav-item"><a href="/">Home</a></li>
      <li class="li listing nav-item"><a href="/blog">Dashboard</a></li>
      <li class="li listing nav-item"><a href="/login">Login</a></li>
      <li class="li listing nav-item"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
  <header class="upper">
    <h1 class="app-title"><a href="/">Cyber/Risk Blog</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>
</body>

</html>
<script src="/js/logout.js"></script>
