<div class="posts listing-group">
  {{#each posts}}
    <a class="listing flex-row justify-space-between" href="/blog/edit/{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>
